:root{
   --background-color: #f5f5f7;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: "popins", sans-serif;
    list-style: none;
}

:root {
    --bg-color: #fbfbfd;
    --bg-nave-color: rgba(255, 255, 255, 0.5);
    --second-bg-color: #151515;
    --text-color: #111111;
    --main-color: #04fffb;
    --header-background: rgba(0, 0, 0, 0.3);
    --footer-background: rgb(25, 26, 27);
}

body {
    background-color: var(--bg-color);
}

/* ########################## navbar-1 start ########################## */

.navbar-1 {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    position: fixed;
    z-index: 999;
}
a{
    list-style: none;
}

.navbar-1 .nav-content {
    background-color: var(--bg-nave-color);
    backdrop-filter: blur(3px);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    transition: all 0.3s ease-out;
    animation: out 0.9s forwards;
    animation-delay: 0.9s;
    translate: 0px -100px;
    color: var(--text-color);
}

@keyframes out {
    0% {
        translate: 0px -100px;
    }

    100% {
        translate: 0px 0px;
    }
}

.navbar-1 .nav-content:hover {
    transform: scale(1.1);
    box-shadow: 0px 1px 5px 2px #b737da;
}

.navbar-1 .nav-content ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem;
}

.nav-content ul li a {
    position: relative;
    color: black;
    font-size: 1.3rem;
    font-weight: 540;
    color: var(--text-color);

    &::after {
        content: "";
        position: absolute;
        bottom: -.3rem;
        left: 0;
        width: 0;
        border-bottom: 0.2rem solid #b737da;
        transition: all 0.3s ease-out;
    }

    &:hover:after {
        width: 100%;
        cursor: pointer;
    }
}

.navbar-1 .logo-name {
    font-size: 1.7rem;
    font-weight: 700;
    transition: all 0.4s ease-in-out;
    height: 3rem;
    background-color: var(--bg-nave-color);
    backdrop-filter: blur(3px);
    padding: 0.5rem;
    border-radius: 0.5rem;
    animation: pop-left 0.9s forwards;
    color: var(--text-color);
}

@keyframes pop-left {
    0% {
        translate: -1000px 0px;
    }

    100% {
        translate: 0px 0px;
    }
}

.navbar-1 .logo-name:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0px 1px 1px #b737da;
}

.navbar-1 .logo-name ul li {
    font-size: 2rem;

}

.logo-name span,
.my-box-name span {
    color: #b737da;
}

.navbar-1 .search {
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    border-radius: 0.6rem;
    padding: 1.5rem;
    transition: all 0.3s ease-out;
    animation: pop-right 0.9s forwards;
    border: 3px solid #b737da;
}

@keyframes pop-right {
    0% {
        translate: 1000px 0px;
    }

    100% {
        translate: 0px 0px;
    }
}

.navbar-1 .search:hover {
    transform: scale(1.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.navbar-1 .search form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.navbar-1 .search form input {
    font-size: 1rem;
    border: 2px solid var(--second-bg-color);
    border-radius: 0.5rem;
    height: 1.8rem;
    width: 5rem;
    padding: 0.5rem;
    transition: all 0.2s ease-out;
}

.navbar-1 .search form input:focus {
    border: 3px solid var(--main-color);
    width: 12rem;
}

.search-icon {
    color: black;
    height: 10px;
}

.search button i {
    font-size: 2rem;
    background-color: transparent;
}

.ham-hide {
    display: none;
}

/* ########################## navbar-1 end########################## */


/* ####################### hero section start############################## */

.hero-main {
    padding-top: 6rem;
}



.hero {
    height: 100vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.intro {
    background-color: #f5f5f7;
    width: 53%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 0.5rem;
    animation: pop-right 0.9s forwards;
    color: var(--text-color);
}

.hero .intro .my-inrto {
    font-size: 1.2rem;
    color: var(--text-color);

}

.hero .intro .name {
    font-size: 4rem;
    font-weight: 600;
}

.hero .intro .my-details {
    font-size: 1.4rem;
    font-weight: 500;
}

.hero .intro .contact-me {
    margin-top: 2rem;
}

.hero .intro .contact-me .contactme {
    height: 3rem;
    width: 9rem;
    background: #b737da;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    transition: all 0.3s ease-out;
}

.hero .intro .contact-me .contactme:hover {
    background-color: white;
    color: purple;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.hero .intro .contact-me .linkedin {
    height: 3rem;
    width: 9rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
    transition: all 0.3s ease-out;
    border: 2px solid #b737da;
    background-color: #fff;
    margin-left: 2rem;
}

.hero .intro .contact-me .linkedin:hover {
    background-color: #b737da;
    transform: scale(1.1);
}

.hero .intro .contact-me .linkedin a:hover {
    color: #fff;
}

.pic-box {
    height: 40rem;
    width: 26rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #f5f5f7;
    border-radius: 0.5rem;
    padding: 0.5rem;
    animation: pop-left 0.9s forwards;
    color: var(--text-color);
}

.hero .pic-box .my-img img {
    height: 10rem;
    width: 10rem;
    background-color: black;
    border: 2px slid black;
    border-radius: 50%;
    transition: all 0.4s ease-out;
    position: relative;
    top: -89px;
}

.hero .pic-box .my-img img:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 25px var(--main-color);
}

.hero .pic-box .my-box-name {
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    bottom: 66px;

}

.hero .pic-box .known-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 2rem;
}

.hero .pic-box .known-languages div {
    background-color: white;
    color: #e8e0e0;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.hero .pic-box .known-languages div:hover {
    animation: up-down 0.5s;
    transition: all 0.5s ease-out;
}

@keyframes up-down {
    0% {
        transform: scale(1.1)translateY(-5px);
    }

    50% {
        transform: scale(1.2)translateY(-10px)
    }

    100% {
        transform: scale(1)translateY(0px);
    }
}

.bx {
    color: #b737da;
    font-size: 3rem;
}

.chat-img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.chat-img,
.chat-img img {
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
    position: fixed;
    bottom: 10px;
    right: 5px;
    transition: all 0.3s ease-out;
}

.chat-img,
.chat-img img:hover {
    transform: scale(1.1);
}

/* ####################### hero section end############################## */

.my-projects-collage {
    height: 200vh;
    background-color: var(--second-bg-color);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.my-projects-collage .title {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    max-width: 50%;
}

.my-projects-collage .collage-text {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}

.my-projects-collage .collage-text .text {
    max-width: 70%;

}

.my-projects-collage .collage-text .collage-img img {
    height: 25rem;
    width: 35rem;
    background-size: cover;
    transition: all 0.5s ease-out;
    border-radius: 1rem;
}

.my-projects-collage .collage-text .collage-img img:hover {
    transform: scale(1.1);
    rotate: -10deg;
    box-shadow: 0px 0px 20px 2px var(--main-color);
}
/* ************************************** foooter section start */
.footer {
    background-color: var(--footer-background);
    height: 15vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    flex-wrap: wrap;
}

.footer img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
/* ************************************** foooter section end */

.progress {
    width: 15rem;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 15rem;
    flex-direction: column;

}
.about .techs .tech .progress .w-75{
    width: 75%;
    height: 1.5rem;
    border-radius: 2rem;
    background-color: #758694;

}
.about .techs .tech .progress{
    background-color: #f2c9c9;
    border-radius: 2rem;
    width: 100%;
}
.techs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.tech {
    background-color: var(--background-color);
    height: 13rem;
    width: 27rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    animation: wakeup 0.8s forwards;
}
@keyframes wakeup{
    0%{
        translate: 0px 500px;
    }
    100%{
        translate: 0px 0px;
    }
}
.tech1 {
    background-color: var(--background-color);
    height: 13rem;
    width: 56rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    opacity: 0;
    animation: rightslide 0.8s forwards;
    animation-delay: 0.8s;
}

@keyframes rightslide{
    0%{
        translate: -500px 0px;
        opacity: 0;
    }
    100%{
        translate: 0px 0px;
        opacity: 1;
    }
}

.tech-name1 {
    display: flex;
    flex-direction: column;
}

.tech-name1 .icon {
    font-size: 2rem;
    color: #b737da;
    font-weight: 700;
}

.tech-name1 h4 {
    font-size: 1.5rem;
}

.tech-name {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.tech-name .icon {
    font-size: 3rem;
    color: #b737da;
}